.modal {
    display: none;
    position: fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  
}

.modal > section {
    /* width: 90%; */
    /* max-width: 450px; */
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #ece6cc;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 1s;
    overflow: hidden;

    /* 내가 새로 추가한 부분 */
    width: 100%;
    /* max-height: 70%; */
    min-height: 70%;
    top: 0%;
    transform: translate(0, 40%);

}

.modal > section > header {
    position: relative;
    padding: 0.6rem 3rem 0.6rem 3rem;
    background-color: #774A20;
    font-weight: 700;
    text-align: center;
}

.modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}

  .modal > section > main {
      padding: 0 0 0 0;
      border-bottom: 1px solid #dee2e6;
      border-top: 1px solid #dee2e6;
    }

/* .modal > section > footer {
    padding: 12px 16px;
    text-align: right;
  }

.modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
} */

.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show 1s;
}

@keyframes modal-show {
    from {
      opacity: 0;
      margin-top: 50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
}

@keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  