.dali__Home {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.Homebutton {
  position: relative;

  top: 1em;
  outline: 2px solid rgb(255, 255, 255);
  border: 2px solid rgb(255, 46, 46);
  background-color: rgb(255, 255, 255);
  width: 40%;
  border-radius: 20px;
  margin: 4px 0;
  padding: 4px;
  box-sizing: border-box;
  transition: 0.3s;
}

.Homebutton:hover {
  position: relative;
  /* left: 3em; */
  /* top: -2em; */
  width: 45%;
  outline: 2px solid rgb(250, 250, 250);
  border: 2px solid rgb(255, 46, 46);
  background-color: rgb(249, 233, 233);
  border-radius: 20px;
  margin: 4px 0;
  padding: 4px;
  box-sizing: border-box;
  transition: 0.3s;
}
